
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




body {
  margin: 0;
  display: flex;
  
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", serif;
  padding: 0;
  box-sizing: border-box;
  background-color: #141111;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./assets/bg2.jpg') ;
  background-size: cover;
  background-position: center;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


